//-------------------------------------------------------------------------
// @font-face declarations
//-------------------------------------------------------------------------

@font-face {
    font-family: 'Love Ya Like A Sister';
    src: font('LoveYaLikeASister/LoveYaLikeASister-Regular.ttf')
        format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jua';
    src: font('Jua/Jua-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
