//-------------------------------------------------------------------------
// COLORS
//-------------------------------------------------------------------------

$pink: #ffcccc;
$turquoise: #4dbfbf;
$white: #ffffff;

//-------------------------------------------------------------------------
// ACCESSIBILITY
//-------------------------------------------------------------------------

$base-url: '/assets/';
