*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua';
    font-size: 18px;
}
.container{
    background: url('../img/memory-bg.png') center center/cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.logo{
    position: absolute;
    top: 18vh;
    left: 45vh;

    img{
        width: auto;
        height: 100px;
    }
}
.container-reg{
    border-radius: 50px;
    position: absolute;
    width: 23vw;
    height: 58vh;
    background-color: $turquoise;
    text-align: center;
    top: 35vh;

    input::placeholder {
        font-family: 'Jua';

    }

    input{
        border-radius: 50px;
        width: 50%;
        height: 40px;
        padding: 10px;
        text-align: center;
        margin: 15px;  
        background-color: $white;
        margin: 10px;

    }
    input[type=submit]{
        color: pink;
        padding: 5px;
        cursor: pointer;
    }
    input:first-of-type{
        margin-top: 40px;
    }
}
a{
    color: white;
    font-size: 14px;
}