* {
    box-sizing: border-box;
}

body {
    background: url('/src/img/memory-bg.png') repeat fixed;
}

.container-welcome {
    width: 1400px;
    margin: 20vh auto;
}

.content-welcome {
    display: flex;
    flex-wrap: wrap;
    background: $turquoise;
    border-radius: 50px;
    padding: 60px 140px;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    margin: auto;
}

button {
    font-size: 32px;
    padding: 20px;
    background: $white;
    border-radius: 50px;
    margin: 20px auto;
    color: $pink;
    border-style: none;
    flex: 0 1 300px;
}

#onlineUsers {
    color: $white;
    width: 1400px;
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
}

#logo-welcome {
    width: 500px;
    margin-bottom: 20px;
}
