@font-face {
  font-family: 'Love Ya Like A Sister';
  src: font("LoveYaLikeASister/LoveYaLikeASister-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jua';
  src: font("Jua/Jua-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Jua';
  font-size: 18px;
}

.container {
  background: url("../img/memory-bg.png") center center/cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  position: absolute;
  top: 18vh;
  left: 45vh;
}

.logo img {
  width: auto;
  height: 100px;
}

.container-reg {
  border-radius: 50px;
  position: absolute;
  width: 23vw;
  height: 58vh;
  background-color: #4dbfbf;
  text-align: center;
  top: 35vh;
}

.container-reg input::-webkit-input-placeholder {
  font-family: 'Jua';
}

.container-reg input:-ms-input-placeholder {
  font-family: 'Jua';
}

.container-reg input::-ms-input-placeholder {
  font-family: 'Jua';
}

.container-reg input::placeholder {
  font-family: 'Jua';
}

.container-reg input {
  border-radius: 50px;
  width: 50%;
  height: 40px;
  padding: 10px;
  text-align: center;
  margin: 15px;
  background-color: #ffffff;
  margin: 10px;
}

.container-reg input[type=submit] {
  color: pink;
  padding: 5px;
  cursor: pointer;
}

.container-reg input:first-of-type {
  margin-top: 40px;
}

a {
  color: white;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("/src/img/memory-bg.png") repeat fixed;
}

.container-welcome {
  width: 1400px;
  margin: 20vh auto;
}

.content-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #4dbfbf;
  border-radius: 50px;
  padding: 60px 140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 500px;
  margin: auto;
}

button {
  font-size: 32px;
  padding: 20px;
  background: #ffffff;
  border-radius: 50px;
  margin: 20px auto;
  color: #ffcccc;
  border-style: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}

#onlineUsers {
  color: #ffffff;
  width: 1400px;
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
}

#logo-welcome {
  width: 500px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */